body
{
	color: #f5f5f5;
	font-family: 'Lato', sans-serif;
	background-color: #FFF;
}

p
{
	display: inline-block;
}

body > div.postContainerHolder > div:nth-child(1) > p:nth-child(7)
{
	float: right;
	margin-right: 7%;
}

body > div.postContainerHolder > div:nth-child(1) > p:nth-child(6)
{
	float: right;
	margin-right: 3%;

}
.inputClass
{
	height: 200px;
	width: 300px;
	margin-left: 500px;
	margin-top: 150px;
	border-radius: 4px;
}


.createPostBtn
{
	width: 20%;
	height: 20%;
	color: #4d4e4f;
	float: right;
	font-size: 1.7em;
	text-align: center;
	border-radius: 3px;
	background-color: #F5F5F5;
}

textarea 
{
    resize: none;
}

.searchInput
{
	width: 12%;
	height: 5%;
	margin-top: .8%;
	background-color: #FFF;
	border: 1px solid black;
	border-radius: 5px;
}

.search
{
	margin-top: .6%;
	border-radius: 3px;
	margin-left: 1%;
	height: 5%;
	background-color: white;
}

.postContainerHolder
{
	width: 80%;
	height: auto;
	margin-top: 5%;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	margin-left: 10%;
	background-color: #FFF;
	border-bottom: 1px solid grey;
	color: black;
	display: inline-block;
}

.likesBox
{
	width: 8.5%;
	height: auto;
	
}

.like
{
	width: 37%;
	height: 30px;
	display:inline-block;
	background-size: cover;
	background-position: center center;
	background-image: url(/img/like.png);
}

.boo
{
	width: 36.8%;
	height: 30px;
	margin-left: 20%;
	background-image: url(/img/boo.png);
	display:inline-block;
	background-size: cover;
	background-position: center center;
}

.postContainer
{	
	/*text-align: center;*/
	color: black;
	padding: 15px;
	border-bottom: 1px solid grey;
	margin-bottom: 15px;
	margin-top: 15px;
	border-radius: 5px;
	word-wrap: break-word;
}

#error404
{
	height: 60px;
	width: 450px;
	margin-left: 400px;
	margin-top: 100px;
	border-radius: 4px;
	border: 2px solid red;
	background-color: #FFF;
	font-size: 2.5em; 
	text-align: center;
	color: #4d4e4f;
}

li
{
	list-style: none;
	display: inline-block;
}

#navBar
{
	height: 50px;
	background-color: #fd4f00;
	color: black;
	padding: 5px;
}

.siteName
{
	width: 100px;
	float: left;
	text-align: center;
	padding-top: 4px;
	font-size: 1.5em;
	color: white;
}




.navbarBoxesRight
{

	width: 9%;
	float: right;
	text-align: center;
	font-size: 1.1em;
	margin-left: 5px;
	padding-top: 8px;
	display: inline-block;
}

.pageChoice
{
	height: 60px;
	margin-left: 42%;
}

.datePosted
{
	margin-top: 10px;
	display: inline-block;

}

table
{
	width:400px;
	height: 200px;
}