body
{
	color: #f5f5f5;
	font-family: 'Lato', sans-serif;
	background-color: #4d4e4f;
}

.inputClass
{
	height: 200px;
	width: 300px;
	margin-left: 500px;
	margin-top: 150px;
	border-radius: 4px;
}

.showPost
{

	width: 300px;
	margin-top: 150px;
	border-radius: 4px;
}

.createPostBtn
{
	width: 20%;
	height: 30%;
	color: #4d4e4f;
	float: right;
	position: relative;
	font-size: 1.7em;
	text-align: center;
	border-radius: 3px;
	background-color: #F5F5F5;
}

textarea 
{
    resize: none;
}
.postContainerHolder
{
	width: 40%;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	margin-left: 30%;
	display: inline-block;
}

.postContainer
{	
	text-align: center;
	color: #f5f5f5;
	padding: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	border-radius: 5px;
	word-wrap: break-word;
}

#error404
{
	height: 60px;
	width: 450px;
	margin-left: 400px;
	margin-top: 100px;
	border-radius: 4px;
	border: 2px solid red;
	background-color: #FFF;
	font-size: 2.5em; 
	text-align: center;
	color: #4d4e4f;
}

li
{
	list-style: none;
	display: inline-block;
}

#navBar
{
	height: 50px;
	background-color: #FFF;
	color: black;
	padding: 5px;
}

.siteName
{
	width: 100px;
	float: left;
	text-align: center;
	padding-top: 4px;
	font-size: 1.5em;
	color: black;
}




.navbarBoxesRight
{

	width: 80px;
	float: right;
	text-align: center;
	font-size: 1.1em;
	margin-left: 5px;
	padding-top: 8px;
	display: inline-block;
}

.pageChoice
{
	height: 60px;
	margin-left: 556px;
}

.datePosted
{
	margin-top: 10px;
	display: inline-block;

}

table
{
	width:400px;
	height: 200px;
}